requests
flask
psycopg2
PyYAML
pandas
flask_script
flask_migrate
flask_cors
python-magic
sqlalchemy
pydash
apispec==0.39.0
flask_apispec==0.7.0
psycopg2-binary
pytest
httpretty
testing.postgresql
pytest-cov==2.5.1
coverage==4.4.2
